{"color":"#f5f6f1","background":"#4f6180","highlight":"#f5f6f1"}
QWidget#MainWidget{
    background-color:#424242
}

QLineEdit#MainLineEdit{
    color:#e3e0e3;
    background-color:#616161;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.06);
    padding:3px 0;
    margin:0px;
}
QListView#ResultListView{
    background-color:#424242;
    margin-top:10px;
    border:0;
}
QScrollBar::handle:vertical
{
    width:9px;
    background:#616161;
    min-height:10px;
}
QScrollBar:vertical{width:9px;background:rgba(0,0,0,0%);margin:0;padding-top:0px;padding-bottom:0px;}
QScrollBar::add-line:vertical{height:0px;width:0px;}
QScrollBar::sub-line:vertical{height:0px;width:0px;}
QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical{background:rgba(0,0,0,0%);}